@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Lora:wght@400;500;600;700&family=Rubik:ital,wght@1,300;1,500&display=swap');


.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
    color: rgb(90, 102, 112);
    margin-top: 50px;
    font-family: sans-serif;
    border-bottom: 2px solid gray;
    padding: 10px;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}

.form {
    width: 600px;
    border-radius: 2px;
    margin: auto;
    text-align: center;
    box-shadow: 2px 2px 10px black;
    margin-top: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

input[type="text"] {
    width: 380px;
    margin-right: 10px;
    padding: 10px;
    margin: 40px 0px ;
    font-size: 20px;
    outline: none;
    border: none;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
}

button {
    padding: 11px 15px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    margin-left: 20px;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    color: rgb(90, 102, 112);

}

.todo-app-content{
    flex-direction: column;
}

h1{
    margin-top: 50px;
    border-bottom: 2px solid rgb(168, 164, 164);
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    color: rgb(90, 102, 112);
    
}


ul.tasks-list {
    text-align: center;
  
}


.tasks-list li{
    margin-top: 5px;
    width: 580px;
    padding: 0px 10px;
    font-size: 17px;
    list-style: none;
    border: 1px solid rgb(223, 212, 212);
    margin-left: -40px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.tasks-list li:hover{
   
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.all-task{
    justify-content: space-between;
}

.btns{
    gap: 30px;
}

.listElement{
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
}

.task-ok{
    width: 10px;
    height: 31px;
    color: rgb(101, 196, 101);
    margin-right: 10px;
    cursor: pointer;   
    background: none;
    margin-left: -2px; 
    border-radius: 50%;
    transition: .2s;
}

.task-ok:hover{
    color: rgb(49, 156, 7);
    border: 1px solid;
}

.edit-btn{
    cursor: pointer;
    color: rgb(29, 124, 29);
   
}

.delete-btn{
    cursor: pointer;
    color: rgb(114, 5, 5);
}

.delete-btn:hover
{
    color: red;
    
}

.edit-btn:hover{
    color: rgb(39, 211, 39);
    
}

.removeAll button:hover,
button.addTaskBtn:hover
{
    
    box-shadow: 3px 3px 10px rgb(78, 77, 77);
    cursor: pointer;
}